# Install DBeaver for SQL Task in Python

In [1]:
'''
SQL (Structured Query Language) / Database
- SQLite
- Create Database
- Create Table
- Insert Data
- Update Data
- Delete Data
- Data Filtering (Where clause)
'''

'\nSQL (Structured Query Language) / Database\n- SQLite\n- Create Database\n- Create Table\n- Insert Data\n- Update Data\n- Delete Data\n- Data Filtering (Where clause)\n'

In [2]:
# package for connecting python with database
import sqlite3

In [3]:
# Create database connection
conn = sqlite3.connect('Sales.db')

In [4]:
# does interaction between Python and database
cursor = conn.cursor()

## create products table

In [5]:
try:
    cursor.execute("""
        Create Table Products(
            Product_Id int Primary Key,
            Product_Name text,
            Product_Price int,
            Product_Description text
        )
    """)
    print('Product Table Created.')
except:
    print('Table Product Already Exists.')

Table Product Already Exists.

## Create Orders Table

In [6]:
try:
    cursor.execute("""
        Create table Orders(
            Order_id int primary key,
            order_location text,
            order_quantity int,
            order_total_price int
        )
    """)
    print('Order Table Created.')
except:
    print('Order Table Already Created.')

Order Table Already Created.

# fetch all data

In [7]:
cursor.execute("""
    select * from products
""")
data = cursor.fetchall()
for d in data:
    print(d)

(6, 'TV', 200000, 'Smart TV')

# Insert data

In [10]:
cursor.execute("""
    Insert into products
    (product_id, product_name, product_price, product_description)
    values
    (1, 'TV', 200000, 'Smart TV')
""")
print('Data inserted to product table.')
conn.commit()

IntegrityError: UNIQUE constraint failed: Products.Product_Id

# Update Data

In [11]:
cursor.execute("""
    update products set product_price = 30
    where product_id = 5
""")
print('Product Data Updated Successfully.')
conn.commit()

Product Data Updated Successfully.

# Delete data

# Where Clause

In [ ]:
'''
SQL Where Clause -> Used for data filtering
comparison operator
logical operator

Like -> Pattern Match
Between -> Alternative of AND Operator
IN -> Alternative of OR Operator

'''

In [5]:
cursor.execute("""
    select * from products where product_price < 200000
""")
data = cursor.fetchall()
for d in data:
    print(d)

(2, 'Bulb', 20, 'Light Bulb')
(3, 'Cycle', 3000, 'Cycle')
(5, 'Bottle', 30, 'White Bottle')

In [6]:
cursor.execute("""
    select * from products 
    where product_price > 20 and product_price < 200000
""")
data = cursor.fetchall()
for d in data:
    print(d)

(3, 'Cycle', 3000, 'Cycle')
(5, 'Bottle', 30, 'White Bottle')

In [ ]:
# new file added to SQL file
cursor.execute("""
    select * from products where product_price < 200000
""")
data = cursor.fetchall()
for d in data:
    print(d)