# Data Structure

In [1]:
'''
1. List -> []
2. Tuple -> ()
3. Dictionary -> {} -> Key-value pair
4. Sets -> {} -> index, value

1. Mutable -> Changable 
    List, Dictionary, Sets
    
2. Immutable -> Unchangable
    Tuple
'''

'\n1. List -> []\n2. Tuple -> ()\n3. Dictionary -> {} -> Key-value pair\n4. Sets -> {} -> index, value\n\n1. Mutable -> Changable \n    List, Dictionary, Sets\n\n2. Immutable -> Unchangable\n    Tuple\n'

In [2]:
a = 1, 2, 3, 4

In [3]:
type(a)

tuple

In [4]:
b = (5, 6, 7)

In [5]:
type(b)

tuple

# List

In [6]:
# Value -> Index
list1 = [1, 2, 3, 4]
type(list1)

list

In [7]:
'''
Index
---------------
Positive Index
-> starts from 0

Negative Index
-> starts from -1
'''

'\nIndex\n---------------\nPositive Index\n-> starts from 0\n\nNegative Index\n-> starts from -1\n'

In [8]:
# Types of list
# 1D list (Single Dimensional List)
one_d_list = [1, 2, 3, 4]
alphabetical = ['A', 'B', 'C', 'D']

# 2D list (Multi Dimensional List)
# List inside multiple list
two_d_list = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

In [9]:
# alphabetical[1]
two_d_list[1][1]

6

In [10]:
print(f"One Dimensional List: {one_d_list}")
print(f"two Dimensional List: {two_d_list}")

One Dimensional List: [1, 2, 3, 4]
two Dimensional List: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [11]:
one_d_list[2]

3

In [12]:
two_d_list[1][1]

6

# for each loop

In [13]:
# Extract list data
for i in one_d_list:
    print(i)

1
2
3
4

In [14]:
# Unpacking list
print(*one_d_list)

1 2 3 4

In [15]:
one_d_list

[1, 2, 3, 4]

In [16]:
for i in two_d_list:
    print(i)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [17]:
print(*two_d_list)

[1, 2, 3, 4] [5, 6, 7, 8] [9, 10, 11, 12]

# Slicing

## data extraction

In [18]:
multi_list = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16],
    [17, 18, 19, 20]
]

single_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
single_list[1]

2

In [20]:
# range(start,stop,step)
# single_list[start:stop:step]
# Slicing works only from left to right.
single_list[1:8]

[2, 3, 4, 5, 6, 7, 8]

In [21]:
single_list[1:8:2]

[2, 4, 6, 8]

In [22]:
single_list[3:]

[4, 5, 6, 7, 8, 9, 10]

In [23]:
single_list[::3]

[1, 4, 7, 10]

In [24]:
single_list[-4:-1]
# single_list[-3]

[7, 8, 9]

In [25]:
single_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
# Reverse data of list
single_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
multi_list

[[1, 2, 3, 4],
 [5, 6, 7, 8],
 [9, 10, 11, 12],
 [13, 14, 15, 16],
 [17, 18, 19, 20]]

In [28]:
# list[row][column]
multi_list[1:3]
# multi_list[1][3]

[[5, 6, 7, 8], [9, 10, 11, 12]]

In [29]:
# Changable Data Structure
# Insert -> Append, Insert
# Update -> Index
# Delete -> Remove, Pop, Del

# Insert

In [30]:
'''
Append -> it accepts value. It does not accept multiple values at once.
    append(value)
Insert -> it accepts index and value
    insert(index, value)
'''

'\nAppend -> it accepts value. It does not accept multiple values at once.\n    append(value)\nInsert -> it accepts index and value\n    insert(index, value)\n'

In [31]:
fruits = ["Apple", "Banana", "Coconut"]
fruits

['Apple', 'Banana', 'Coconut']

In [32]:
# Append
fruits.append("Papaya")

In [33]:
fruits

['Apple', 'Banana', 'Coconut', 'Papaya']

In [34]:
fruits.append("Grapes")

In [35]:
# Insert
fruits.insert(2, "Orange")

In [36]:
fruits

['Apple', 'Banana', 'Orange', 'Coconut', 'Papaya', 'Grapes']

In [37]:
for each_fruit in fruits:
    print(each_fruit)

Apple
Banana
Orange
Coconut
Papaya
Grapes

In [38]:
print(*fruits)

Apple Banana Orange Coconut Papaya Grapes

In [39]:
for fruit_index, fruit in enumerate(fruits):
    print(f"{fruit_index}: {fruit}")

0: Apple
1: Banana
2: Orange
3: Coconut
4: Papaya
5: Grapes

In [41]:
# list -> 10

# add value uing append -> any 3 value
# add value specific in 5th and 8th index

# loop list using for loop
# and enumerate function

In [48]:
fruits = ["Apple", "Banana", "Coconut"]
for x in fruits:
    print(x)
    if x == 'Banana':
        break

Apple
Banana

In [63]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
num.append(11)
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [65]:
num.insert(4, 12)
num

[1, 2, 3, 4, 12, 5, 6, 7, 8, 9, 10, 11]

In [66]:
for each_number in num:
    print(each_number)

1
2
3
4
12
5
6
7
8
9
10
11

In [67]:
# enumerate
for num_idx, num_value in enumerate(num):
    print(f"{num_idx}: {num_value}")

0: 1
1: 2
2: 3
3: 4
4: 12
5: 5
6: 6
7: 7
8: 8
9: 9
10: 10
11: 11

# Update List

In [54]:
'''
We have to update list using index
'''
num[4] = 13

In [71]:
for num_idx, num_value in enumerate(num):
    print(f"{num_idx}: {num_value}")

0: 1
1: 2
2: 3
3: 12
4: 5
5: 6
6: 7
7: 8
8: 9
9: 10
10: 11

# Delete item from list

In [69]:
# remove, pop, del
# Remove accepts value
num.remove(4)

In [70]:
num

[1, 2, 3, 12, 5, 6, 7, 8, 9, 10, 11]

In [72]:
# Pop accepts index
num.pop(3)

12

In [73]:
num

[1, 2, 3, 5, 6, 7, 8, 9, 10, 11]

In [76]:
# del -> Keyword
# syntax -> del list_name[index]
del num[1]

In [77]:
num

[1, 5, 6, 7, 8, 9, 10, 11]

In [102]:
numbers = [1, 4, 6, 7, 3, 2, 8, 9, 0, 2, 4, 6]

In [81]:
# For sorting numbers
numbers.sort()

In [82]:
numbers

[0, 1, 2, 2, 3, 4, 4, 6, 6, 7, 8, 9]

In [89]:
# For reverse
numbers.reverse()

In [90]:
numbers

[0, 1, 2, 2, 3, 4, 4, 6, 6, 7, 8, 9]

In [91]:
len(numbers)

12

In [93]:
# Count number of values available in list
numbers.count(4)

2

In [95]:
fruits = ["Coconut", "Banana", "Apple"]

In [97]:
fruits.sort()
fruits

['Apple', 'Banana', 'Coconut']

In [98]:
numbers

[0, 1, 2, 2, 3, 4, 4, 6, 6, 7, 8, 9]

In [103]:
print(numbers)

[1, 4, 6, 7, 3, 2, 8, 9, 0, 2, 4, 6]

In [111]:
text = "Python"
text_letters = []
for p in text:
    # print(t)
    text_letters.append(p)
    print(text_letters)

['P']
['P', 'y']
['P', 'y', 't']
['P', 'y', 't', 'h']
['P', 'y', 't', 'h', 'o']
['P', 'y', 't', 'h', 'o', 'n']

In [112]:
text_letters

['P', 'y', 't', 'h', 'o', 'n']

In [113]:
text_letters.clear()

In [114]:
text_letters

[]

In [115]:
a = [1, 2, 3]
b = [4, 5]
c = a + b
print(c)

[1, 2, 3, 4, 5]

In [119]:
# Merge list
a.extend(b)

In [120]:
a

[1, 2, 3, 4, 5, 4, 5]

In [121]:
b

[4, 5]

# Tuple

In [122]:
'''
Immutable Data Structure
Unchangable
'''

'\nImmutable Data Structure\nUnchangable\n'

In [123]:
num = (1, 2, 3)
num

(1, 2, 3)

In [124]:
type(num)

tuple

In [131]:
number = 1, 2, 3, 4, 5, 6, 7
number

(1, 2, 3, 4, 5, 6, 7)

In [132]:
type(number)

tuple

In [134]:
number[0:3]

(1, 2, 3)

In [135]:
for i in number:
    print(i)

1
2
3
4
5
6
7

In [136]:
for num_idx, num_value in enumerate(number):
    print(f"{num_idx}: {num_value}")

0: 1
1: 2
2: 3
3: 4
4: 5
5: 6
6: 7

In [137]:
number[::-1]

(7, 6, 5, 4, 3, 2, 1)

In [141]:
text = 'Niraj'
reverse_name = text[::-1]
reverse_name

'jariN'

In [1]:
# What is dictionary?
# what is key-value pair?

In [10]:
choice = 0
order_list = []
while choice != 5:
    print('1. Momo')
    print('2. Chowmin')
    print('3. Pizza')
    print('4. Drinks')
    print('5. Exit')
    choice = int(input("Enter number from 1 - 5: "))

    if choice == 1:
        msg = "You have ordered Momo."
        print(msg)
        order_list.append(msg)
    elif choice == 2:
        msg = "You have ordered Chowmin."
        print(msg)
        order_list.append(msg)
    elif choice == 3:
        msg = "You have ordered Pizza."
        print(msg)
        order_list.append(msg)
    elif choice == 4:
        msg = "You have ordered Drinks."
        print(msg)
        order_list.append(msg)
    elif choice == 5:
        print("Thank you for choosing us!!")
    else:
        print("Invalid Input!!")
print()
print("Your final order list:")
for i, value in enumerate(order_list):
    print(f"{i+1}: {value}")

1. Momo
2. Chowmin
3. Pizza
4. Drinks
5. Exit

Enter number from 1 - 5:  1

You have ordered Momo.
1. Momo
2. Chowmin
3. Pizza
4. Drinks
5. Exit

Enter number from 1 - 5:  2

You have ordered Chowmin.
1. Momo
2. Chowmin
3. Pizza
4. Drinks
5. Exit

Enter number from 1 - 5:  3

You have ordered Pizza.
1. Momo
2. Chowmin
3. Pizza
4. Drinks
5. Exit

Enter number from 1 - 5:  5

Thank you for choosing us!!

Your final order list:
1: You have ordered Momo.
2: You have ordered Chowmin.
3: You have ordered Pizza.

# Dictionary

In [38]:
'''
Dictionary = {
    'key': 'value'
}

It is also mutable data structure.

Add, Update, Delete
'''

"\nDictionary = {\n    'key': 'value'\n}\n\nIt is also mutable data structure.\n\nAdd, Update, Delete\n"

In [12]:
empty_dictionary = {}
type(empty_dictionary)

dict

In [29]:
details = {
    'Name': 'Alex',
    'Age': 30,
    'Address': 'London'
}
details

{'Name': 'Alex', 'Age': 30, 'Address': 'London'}

In [30]:
# details[0]
details['Name']

'Alex'

In [31]:
details1 = {
    'Name': ['Alex', 'Bob'],
    'Age': [30, 50],
    'Address': ['London', 'New York']
}
details1

{'Name': ['Alex', 'Bob'], 'Age': [30, 50], 'Address': ['London', 'New York']}

In [32]:
details1['Name']

['Alex', 'Bob']

In [33]:
for i in details1:
    print(i)

Name
Age
Address

# Loop in dictionary

In [37]:
'''
.keys(), # extract dictionary keys
.values(), # extract dictionary values
.items() # extract both keys and values
'''
# Keys
for key in details1.keys():
    print(key)

print()

# Values
for value in details1.values():
    print(value)

print()

# Items
for key, value in details1.items():
    print(f"{key}: {value}")

Name
Age
Address

['Alex', 'Bob']
[30, 50]
['London', 'New York']

Name: ['Alex', 'Bob']
Age: [30, 50]
Address: ['London', 'New York']

In [39]:
details = {
    'Name': 'Alex',
    'Age': 30,
    'Address': 'London'
}
details

{'Name': 'Alex', 'Age': 30, 'Address': 'London'}

# Add new value in dictionary

In [40]:
details['Phone'] = 1234567890

In [41]:
details

{'Name': 'Alex', 'Age': 30, 'Address': 'London', 'Phone': 1234567890}

# Update value in dictionary

In [42]:
details['Address'] = 'Paris'
details

{'Name': 'Alex', 'Age': 30, 'Address': 'Paris', 'Phone': 1234567890}

# Delete value in dictionary

In [44]:
'''
del
pop
'''
del details['Phone']

In [45]:
details

{'Name': 'Alex', 'Age': 30, 'Address': 'Paris'}

In [46]:
details.pop('Address')

'Paris'

In [47]:
details

{'Name': 'Alex', 'Age': 30}

In [54]:
details1 = {
    'Name': ['Alex', 'Bob'],
    'Age': [30, 50],
    'Address': ['London', 'New York'],
    'Phone': [123, 456]
}
details1

{'Name': ['Alex', 'Bob'],
 'Age': [30, 50],
 'Address': ['London', 'New York'],
 'Phone': [123, 456]}

# Add value

In [52]:
# details1['Name'] = 'Ram'
details1['Name'].append('Ram')

In [53]:
details1

{'Name': ['Alex', 'Bob', 'Ram'],
 'Age': [30, 50],
 'Address': ['London', 'New York']}

# delete

In [55]:
del details1['Phone']

In [56]:
details1

{'Name': ['Alex', 'Bob'], 'Age': [30, 50], 'Address': ['London', 'New York']}

In [57]:
details1

{'Name': ['Alex', 'Bob'], 'Age': [30, 50], 'Address': ['London', 'New York']}

In [58]:
'''
dictionary
  -- key and value
         -- list
         -- Index
'''
# remove(value)
# pop(index)
details1['Address'].remove('New York')

In [59]:
details1

{'Name': ['Alex', 'Bob'], 'Age': [30, 50], 'Address': ['London']}

In [63]:
details1['Address'].pop(0)

'London'

In [64]:
details1

{'Name': ['Alex', 'Bob'], 'Age': [30, 50], 'Address': []}

In [79]:
# JSON Format

In [77]:
person_details = {
    "person1": {
        'Name': 'Ram',
        'Age': 30,
        'Address': 'New York'
    },

    "person2": {
        'Name': 'Shyam',
        'Age': 45,
        'Address': 'London'
    }
}

In [78]:
person_details

{'person1': {'Name': 'Ram', 'Age': 30, 'Address': 'New York'},
 'person2': {'Name': 'Shyam', 'Age': 45, 'Address': 'London'}}

# Sets

In [1]:
'''
we use {} to define set.
'''

'\nwe use {} to define set.\n'

In [4]:
# To define empty set
empty_set = set()
type(empty_set)

set

In [5]:
colors = {'red', 'blue', 'orange'}
colors

{'blue', 'orange', 'red'}

In [6]:
type(colors)

set

In [11]:
set_value = {True, 1, 2, 'Red', 'Blue', 'Orange'}
set_value
# 1-> true
# 0-> false

{2, 'Blue', 'Orange', 'Red', True}

In [17]:
set_value = {0, 1, 2, True, False, 'Red', 'Red', 'Blue', 'Orange'}
set_value

{0, 1, 2, 'Blue', 'Orange', 'Red'}