# File Handling

In [1]:
'''
File Handling Operations
---------------------------
r -> read
w -> write
a -> append
rb -> read binary
wb -> write binary
'''

'\nFile Handling Operations\n---------------------------\nr -> read\nw -> write\na -> append\nrb -> read binary\nwb -> write binary\n'

In [2]:
'''
text file
CSV file
Dictionary File
JSON File
Binary file copy and paste (image, pdf, word, excel)
'''

'\ntext file\nCSV file\nDictionary File\nJSON File\nBinary file copy and paste (image, pdf, word, excel)\n'

# Text File

## Creating text file

In [3]:
# open(file_name, operation)
file = open('text_file.txt', 'w')
content = file.write('Hello World!!')
file.close()

## Read text file

In [4]:
file = open('text_file.txt', 'r')
content = file.read()
print(content)

Hello World!!

## Append values in text file

In [5]:
file = open('text_file.txt', 'a')
content = file.write('\n New Hello World!!')
file.close()

# CSV File (Comma Seperated Value)

In [6]:
import csv

In [7]:
countries_destination = [
    ['Countries', 'Destination', 'Price'],
    ['USA', 'New York', '$5000'],
    ['Italy', 'Rome', '$3000'],
    ['Nepal', 'Mustang', '$1000']
]

In [8]:
# open(file_name, operation, newline)
with open('country.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(countries_destination)

## read csv file

In [9]:
with open('country.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Countries', 'Destination', 'Price']
['USA', 'New York', '$5000']
['Italy', 'Rome', '$3000']
['Nepal', 'Mustang', '$1000']

In [10]:
# Dictionary
personal_details = [
    {
        "Name": "John",
        "Age": 30,
        "Address": "New York"
    },
    {
        "Name": "Charles",
        "Age": 20,
        "Address": "Canada"
    },
    {
        "Name": "Dutch",
        "Age": 35,
        "Address": "Ottawa"
    }
]

## Write dictionary value in csv file

In [11]:
with open('personal_details.csv', 'w', newline='') as file:
    columns = ['Name', 'Age', 'Address']
    writer = csv.DictWriter(file, fieldnames=columns)
    writer.writeheader()
    writer.writerows(personal_details)

In [12]:
with open('personal_details.csv', 'r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        print(row)

{'Name': 'John', 'Age': '30', 'Address': 'New York'}
{'Name': 'Charles', 'Age': '20', 'Address': 'Canada'}
{'Name': 'Dutch', 'Age': '35', 'Address': 'Ottawa'}

# Json File

In [13]:
personal_details = [
    {
        "Name": "John",
        "Age": 30,
        "Address": "New York"
    },
    {
        "Name": "Charles",
        "Age": 20,
        "Address": "Canada"
    },
    {
        "Name": "Dutch",
        "Age": 35,
        "Address": "Ottawa"
    }
]

In [14]:
import json

In [15]:
# Write -> dump()
# Read -> load()

In [17]:
with open('personal_details.json', 'w') as file:
    json.dump(personal_details, file)

In [22]:
with open('personal_details.json', 'r') as file:
    data = json.load(file)
    for each_data in data:
        print(each_data)

{'Name': 'John', 'Age': 30, 'Address': 'New York'}
{'Name': 'Charles', 'Age': 20, 'Address': 'Canada'}
{'Name': 'Dutch', 'Age': 35, 'Address': 'Ottawa'}

# binary files

In [23]:
'''
images, word, excel, pdf ....
'''

'\nimages, word, excel, pdf ....\n'

In [33]:
# copy -> Read
# open(file_path, operation)
with open('C:/Users/Asus/Downloads/R.png', 'rb') as src:
    data = src.read()

In [34]:
with open('image.png', 'wb') as src:
    src.write(data)

In [36]:
new_data = []

In [40]:
with open('C:/Users/Asus/OneDrive/Desktop/temperature.csv', 'r') as file:
    data = csv.reader(file)
    for d in data:
        new_data.append(d)

In [41]:
with open('new_whether.json', 'w') as file:
    json.dump(new_data, file)

In [43]:
file = open('course.txt', 'w')
content = file.write('Name: Ram')
file.close()

In [46]:
file = open('course.txt', 'a')
content = file.write('Name: Shyam\nCourse name: Data')
file.close()