In [1]:
'''
- Parameterized function / Argumented Function
- Non-Parameterized function / Non-Argumented Function

def function_name():
    code....
'''

'\n- Parameterized function / Argumented Function\n- Non-Parameterized function / Non-Argumented Function\n\ndef function_name():\n    code....\n'

In [2]:
def greet():
    print("Hello World!!")

In [4]:
# callback function
greet()

Hello World!!

In [9]:
def new_greet(a):
    print(f"{a} world!!")

In [11]:
new_greet(1)

1 world!!

In [20]:
# Non-Return type function
def full_name(first_name, last_name):
    print(f"{first_name} {last_name}")

In [15]:
full_name("Ram", "Bahadur")

Ram Bahadur

In [16]:
print(full_name("Ram", "Bahadur"))

Ram Bahadur
None

In [21]:
# Return type function
def full_name(first_name, last_name):
    return f"{first_name} {last_name}"

In [22]:
full_name("Ram", "Bahadur")

'Ram Bahadur'

In [23]:
print(full_name("Ram", "Bahadur"))

Ram Bahadur

In [34]:
# sum of two numbers using function
def add(a, b):
    addition = a + b
    print(addition)

In [35]:
add(1, 2)

3

In [36]:
def calculation(a, b):
    add = a + b
    sub = a - b
    mul = a * b
    div = a / b

    print(add)
    print(sub)
    print(mul)
    print(div)

In [39]:
calculation(1, 2)

3
-1
2
0.5

In [42]:
def calculation():

    a = int(input("Enter a number: "))
    b = int(input("Enter second number: "))
    choice = int(input("Enter number from 1 to 4: "))

    if choice == 1:
        add = a + b
        print(add)
    elif choice == 2:
        sub = a - b
        print(sub)
    elif choice == 3:
        mul = a * b
        print(mul)
    elif choice == 4:
        div = a / b
        print(div)
    else:
        print("Invalid Number!!")

In [43]:
calculation()

Enter a number:  3
Enter second number:  4
Enter number from 1 to 4:  1

7

In [1]:
'''
Function it should accept two arguments: student roll number and full name
Name of student: Name
Roll Number of student: roll number

atleast 5 subject marks

Total Marks
Average Marks

Grade: A, B, C, D, E, NG

'''

'\nFunction it should accept two arguments: student roll number and full name\nName of student: Name\nRoll Number of student: roll number\n\natleast 5 subject marks\n\nTotal Marks\nAverage Marks\n\nGrade: A, B, C, D, E, NG\n\n'

In [2]:
def Student(full_name, roll_number):
    print("Student Name:",full_name)
    print("Roll Number:",roll_number)

    marks1 = int(input("Enter marks for subject 1: "))
    marks2 = int(input("Enter marks for subject 2: "))
    marks3 = int(input("Enter marks for subject 3: "))
    marks4 = int(input("Enter marks for subject 4: "))
    marks5 = int(input("Enter marks for subject 5: "))

    total_marks = marks1 + marks2 + marks3 + marks4 + marks5

    avg_mark = total_marks/5

    if avg_mark >=80 and avg_mark <= 100:
        print("Grade: A")
    elif avg_mark >=60 and avg_mark < 80:
        print("Grade: B")
    elif avg_mark >=50 and avg_mark < 60:
        print("Grade: C")
    elif avg_mark >=40 and avg_mark < 50:
        print("Grade: D")
    else:
        print("Grade: NG")

In [4]:
Student("Ram", 2)

Student Name: Ram
Roll Number: 2

Enter marks for subject 1:  40
Enter marks for subject 2:  50
Enter marks for subject 3:  60
Enter marks for subject 4:  70
Enter marks for subject 5:  80

Grade: B

In [5]:
Student()

TypeError: Student() missing 2 required positional arguments: 'full_name' and 'roll_number'

# Default Argument and Keyword Argument

## Default Argument

In [17]:
def person(name="Unknown Name", age=0, address='Kathmandu'):
    print("Name:",name)
    print("Age:",age)
    print("Address:",address)

In [33]:
person("Ram", 30, "Lalitpur")

Name: Ram
Age: 30
Address: Lalitpur

In [34]:
person(age=20)

Name: Unknown Name
Age: 20
Address: Kathmandu

## Keyword Argument

In [24]:
def person1(name, age, address):
    print("Name:",name)
    print("Age:",age)
    print("Address:",address)

In [27]:
person1(name="ABC", age=20, address='Lalitpur')

Name: ABC
Age: 20
Address: Lalitpur

# (All Arguments)*Args , (All Keyword Arguments)**kwargs

In [45]:
def phone(phone_name, *phone_details):
    print("Phone Name:",phone_name)
    for each_arg in phone_details:
        print(each_arg)
    print("All Arguments:",phone_details)

In [54]:
phone("Samsung", "S25", 2022)

Phone Name: Samsung
S25
2022
All Arguments: ('S25', 2022)

In [57]:
def phone_details(phone_name, **kwargs):
    print("Phone Name:",phone_name)
    print(kwargs)
    for key, value in kwargs.items():
        print(f"{key.capitalize()}: {value}")

In [58]:
phone_details("Samsung", model='s24', build_year='2022', os='Android 14')

Phone Name: Samsung
{'model': 's24', 'build_year': '2022', 'os': 'Android 14'}
Model: s24
Build_year: 2022
Os: Android 14

# Lambda function

In [60]:
# add value using lambda function
add = lambda x: x + 10

In [61]:
add(5)

15

In [62]:
add = lambda x, y: x + y

In [63]:
add(10, 5)

15

In [1]:
def sum_all(*args):
    total = 0
    for i in args:
        total += i
    print(total)

In [2]:
sum_all(1, 2, 3)

6